.jack {
  .filter-bar {
    .el-button {
      &.screen-btn {
        background: transparent;
        color: #06a381;
        border: 1px solid #06a381;
        &:hover {
          color: #06ca9e;
          border: 1px solid #06ca9e;
        }
      }
    }
  }
  .material-input__component.material--raised .material-label {
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    background-color: rgba(13, 136, 173, 0.2);
  }
}

.rose~.el-select-dropdown,
.rose~.el-dropdown-menu,
.jack~.el-select-dropdown,
.jack~.el-dropdown-menu,
.bee~.el-select-dropdown,
.bee~.el-dropdown-menu {
  border: 1px solid rgba(2, 2, 2, 0.8);
  background-color: rgba(2, 2, 2, 0.8);
}

.dl-horizontal {
  margin-top: 0;
  margin-bottom: 12px;
  vertical-align: top;
  dt {
    width: 140px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 28px;
    color: #909399;
  }
  dd {
    margin-left: 0;
    line-height: 28px;
    @include clearfix;
  }
}

.el-popover {
  background-color: #062b44;
  border: 1px solid #062b44;
  .el-popover__title {
    color: #909399;
  }
  .el-input__inner {
    color: #fff;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    resize: none;
  }
  .el-button {
    width: 150px;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    &:hover {
      color: #aaa
    }
  }
  .screenHostel {
    dt {
      width: 85px;
      line-height: 36px
    }
    dd {
      margin-left: 100px;
    }
    .el-input {
      margin-right: 20px;
      width: 100px;
      float: left
    }
  }
  .screen-contract {
    dt {
      width: 110px;
      line-height: 36px
    }
    dd {
      margin-left: 125px;
    }
    .el-input {
      margin-right: 20px;
      width: 130px;
      float: left
    }
  }
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #062b44;
  &::after {
    border-bottom-color: #062b44;
  }
}

.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: #062b44;
  &::after {
    border-top-color: #062b44;
  }
}

@media (min-width: 768px) {
  .el-button {
    &.screen-btn {
      margin-right: 10px;
    }
  }
  .dl-horizontal {
    dt {
      float: left;
      text-align: right;
      clear: left;
    }
    dd {
      margin-left: 152px;
    }
  }
}

@media (max-width: 768px) {
  .el-popover {
    width: 80% !important;
  }
  .el-button {
    &.screen-btn {
      margin-top: 10px;
    }
  }
  .dl-horizontal {
    dt {
      float: left;
      text-align: right;
      clear: left;
    }
    dd {
      margin-left: 152px;
    }
  }
}

.form-content-list {
  padding: 15px 0;
  span {
    font-size: 14px;
    color: #fff
  }
}

@media (max-width: 440px) {
  .el-message-box {
    width: 80%
  }
}

.img-size-50 {
  height: 50px;
}

.img-size-100 {
  height: 100px;
}

.img-size-200 {
  height: 200px;
}

.el-badge {
  .el-badge__content {
    border: 0 !important;
    background-color: rgba(245, 108, 108, .8);
  }
}

.dl-horizontal {
  font-size: 14px
}

.rate-bx {
  overflow: hidden;
  line-height: 40px;
  .rate-tit {
    width: 55px;
    margin-right: 10px;
    float: left;
    font-size: 12px;
    text-align: right
  }
  .el-rate {
    margin-top: 10px;
  }
}

.goods-bx-small {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  .goods-item {
    width: 50px;
    font-size: 12px;
    line-height: 30px;
    text-align: center
  }
}

.goods-bx {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  .goods-item {
    width: 100px;
    font-size: 12px;
    line-height: 30px
  }
}

.el-form-content {
  margin-top: 30px;
  margin-bottom: 30px;
  &.w400 {
    width: 350px
  }
  input,
  textarea,
  .el-button {
    max-width: 350px !important;
  }
}

@media (max-width: 660px) {
  .el-form-content {
    input,
    textarea,
    .el-button {
      max-width: 300px !important;
    }
  }
}

@media (max-width: 330px) {
  .el-form-content {
    input,
    textarea,
    .el-button {
      max-width: 250px !important;
    }
  }
}

// .el-tag {
//   width: 58px;
//   text-align: center
// }
.el-cascader__label {
  color: #fff;
}

.el-dialog {
  position: relative;
  margin: 0 auto 50px;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}

@media (max-width: 660px) {
  .el-dialog {
    width: 90%;
  }
}

.account-item {
  padding: 10px 0;
  font-size: 14px;
  color: #fff
}

.id-card-info {
  float: left;
  margin-right: 10px;
  span {
    display: block
  }
}

.img-bx {
  width: 600px;
  overflow: hidden;
  .el-form-item {
    float: left;
    margin-right: 10px;
  }
  .my-upload {
    margin: 0 auto
  }
}

@media (max-width: 660px) {
  .img-bx {
    width: 100%;
    overflow: hidden;
    .my-upload {
      margin: 0 auto
    }
  }
}

.el-textarea__inner {
  color: #fff
}

// .el-cascader-menu {
//   border-right: solid 1px #000;
// }
.el-cascader-menus {
  border: none;
  background: #fff;
  color: #fff;
}

// .el-cascader-menu__item {
//   color: #999;
// }
// .el-cascader-menu__item.is-active {
//   color: #000;
// }
.el-upload--picture-card {
  background-color: transparent;
  border: 1px dashed #c0ccda;
  width: 128px;
  height: 128px;
  line-height: 126px;
  &:hover {
    border: 1px dashed #c0ccda;
  }
}

.el-upload-list--picture-card .el-upload-list__item {
  width: 128px;
  height: 128px;
}

.article-html {
  padding-left: 10px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}